#footer {
	padding: 30px 55px 45px 55px;
}div.quick-facts {	margin: 10px 0 0 120px;}div.quick-facts h3 {	font-size: 1.2em;}div.heading-image {	position: absolute;	left: 480px;	top: 30px;}body.info.locations #content h1 {	width: 550px;}#innercontentleft { position: relative; }
