body {
	margin: 0px;
	padding: 0px;
	background: url(../img/bg.jpg) repeat-x center top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
/*---------Containers---------*/
#wrapper-main {
	width: 990px;
	margin: 0 auto;
	background: url(../img/wrapper-bg.jpg) top left no-repeat #fff;
}
#wrapper-inner { /*...This is used for footer background...*/
	width: 990px;
	background: url(../img/footer-bg.jpg) bottom left no-repeat;
}
#header {
	width: 950px;
	padding: 0 20px;
}
#header-main {
	width: 900px;
	height: 305px;
	float: left;
	padding: 0px 25px 0 25px;
	margin: 9px 0 0 0;
	background: url(../img/head-bg.gif) top left no-repeat;
}

#header-main #header-play {
	display: block;
    float: right;
    height: 50px;
    margin: 202px 228px 0 0;
    width: 62px;
}

#content {
	width: 990px;
}

#content h1 {
	background: url("../img/heart-brown-trans.gif") no-repeat scroll left top transparent;
    color: #694722;
    font-family: "Franklin Gothic Medium",Arial,sans-serif;
    font-size: 1.55em;
    font-weight: normal;
    height: 1.5em;
    padding: 1px 0 0 19px;
    text-transform: uppercase;
	/* margin-bottom:	1em; */
}

body.locations.info #content h1{
	/* float: left; */
	display: inline-block;
	margin-bottom: 2em;
    width: 370px;
}

#content h1 span {
	display: block;
	color: #25408E;
	margin-bottom: 1.459em;
    text-transform: none;
}

#contentleft {
	float: left;
	width: 594px;
	padding: 18px 0 0 45px;
	background: url(../img/content-bg.gif) top left no-repeat;
	margin-left: 25px;
}

#contentright {
	float: left;
	width: 290px;
}

#testimonials {
	float: left;
	width: 280px;
	padding: 27px 0 0 7px;
	background: url(../img/testimonials-bg.gif) top left no-repeat;
}
#readmore {
	float: left;
	width: 277px;
	padding: 2px 63px 0 0;
	background: url(../img/testi-read-more.gif) top left no-repeat;
	height: 33px;
}
#footer {
	width: 880px;
	clear: both;
	padding: 30px 55px 60px 55px;
	color: #63421d;
}
.clear {
	clear: both;	
}
/*---------Images---------*/
.logo {
	float: left;
	margin: 31px 0 0 24px;	
}
.getfree {
	float: left;
	margin: 30px 0 20px 20px;	
}
.compare {
	float: left;
	margin: 35px 0 20px 10px;
}
.find-assisted {
	float: left;
	margin: 35px 0 20px 15px;
}
.find-homes-now {
	float: left;
	margin: 35px 0 20px 44px;
}
.get-local {
	float: left;
	margin: 34px 0 20px 8px;
}
.start-your {
	float: left;
	margin: 34px 0 20px 23px;
}
.headimg {
	float: right;
	margin: 5px 22px 0 0;
}
#header-main li.submit input{
	float: right;
	margin: 5px 33px 0 0;
}
#contentleft img.welcome {
	float: left;
	margin: 16px 0 8px 0;	
}
#contentleft p img {
	float: right;
	margin: 5px 0 0 10px;
}
/* #testimonials img{
	float: left;
} */

#testimonials div.img {
	float: left;
    margin: 19px 0 0;
}

#testimonials div.img img {
	background: url("/theme/default/img/testi-sidebar-bg.jpg") repeat-y scroll left top transparent;
    padding: 0 4px;
}


/* .testi-client {
	margin: 19px 0 0 0;	
} */
/*---------menu-top-menu-top-navigations/Lists---------*/
#header ul.menu-top-nav {
	float: right;
	height: 40px;
	margin: 10px 10px 0 10px;
	padding: 0 0;
	background: url(../img/nav-pattern.jpg) top left repeat-x;
	list-style-type: none;
	font-family: "Century Gothic", Arial;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
}
#header ul.menu-top-nav li {
	float: left;
	margin: 0px;
	padding: 0px;
	display: inline;
	padding: 14px 7px 10px 14px;
}
#header ul.menu-top-nav li.item6 {
	padding: 0 0 0 26px;
}

#header ul.menu-top-nav li.articles {
	padding: 0 0 0 50px;
}
#header ul.menu-top-nav li.item7 {
	padding: 0 0 0 50px;
}
#header ul.menu-top-nav li.ppc {
	padding: 0 0 0 44px;
}
#header ul.menu-top-nav li.analytics {
	padding: 0 0 0 43px;
}
#header ul.menu-top-nav li.first {
	background: url("../img/nav-left.jpg") no-repeat scroll 0 0 transparent;
}
#header ul.menu-top-nav li.last {
	background: url("../img/nav-right.jpg") no-repeat scroll right top transparent;
	padding-right: 15px;
}
#header ul.menu-top-nav li.seperator {
	background: url("../img/nav-seperator.jpg") no-repeat scroll 0 0 transparent;
    padding: 14px 2px 26px;
}
#header-main ul {
	width: 371px;
	float: left;
	padding: 0 0 0 15px;
	margin: 0px;
	clear: left;
	list-style-type: none;
	color: #fffffb;
	font-size: 13px;
	font-weight: bold;
}
#header-main li {
	float: left;
	width: 371px;
	padding: 6px 0 4px 0;
	margin: 0;
	background: url(../img/text-field.gif) top right no-repeat;
}
#header-main li.comments{
	height: 55px;
	background: url(../img/text-area.gif) top right no-repeat;
}
#header-main li.submit{
	background: none;
	padding: 0px;
}
/*---------Other Formatting---------*/
#header-main li span{
	float: left;
	width: 135px;
}

#header-main li label{
	float: left;
	width: 135px;
}

#header-main li input.textfield, #header-main li textarea {
	float: left;
	width: 195px;
	border: none;
	background: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #603f1b;
}
#header-main li textarea {
	height: 51px;
}
#contentleft p {
	float: left;
	width: 567px;
	padding: 5px 0;
	margin: 0px;
	color: #6e6e6e;
	line-height: 24px;
	text-align: justify;
}
#testimonials p {
	float: left;
	width: 260px;
	padding: 9px 0 12px 0;
	margin: 0px;
	font-style: italic;
	color: #fff;
	line-height: 22px;
	text-align: justify;
}
#testimonials p span {
	color: #ffb460;
	float: left;
	width: 260px;
	font-style: normal;
	font-weight: bold;
	text-align: right;
}
#readmore p {
	float: right;
	padding: 6px 2px 8px 8px;
	margin: 0px 14px 0px 0px;
	background: #a57541;
	color: #fff;
	font-weight: bold;
}
#footer p {
	padding: 0px;
	margin: 0px;	
}
#footer p.left {
	float: left;
}
#footer p.right {
	float: right;
	color: #6e6e6e;
}
/*---------Links---------*/
#header ul.menu-top-nav li a, #header ul.menu-top-nav li a:link, #header ul.menu-top-nav li a:active, #header ul.menu-top-nav li a:visited {
	color: #fff;
	text-decoration: none;
}
#header ul.menu-top-nav li a:hover {
	color: #734d1c;
}
#readmore a, #readmore a:link, #readmore a:active, #readmore a:visited {
	color: #fff;
	text-decoration: none;
}
#readmore a:hover {
	color: #fff;
	text-decoration: underline;
}
#footer a, #footer a:link, #footer a:active, #footer a:visited {
	color: #6a4721;
	text-decoration: underline;
}
#footer a:hover {
	color: #6a4721;
	text-decoration: none;
}
a, a:link, a:active, a:visited {
	color: #6e6e6e;
	text-decoration: underline;
}
a:hover {
	color: #6e6e6e;
	text-decoration: none;
}
/*---------Inner Page---------*/
div#header.inner-header {
	height: 133px;
}
#innercontentleft {
	float: left;
	width: 570px;
	padding: 35px 25px 0 70px;
	background: url(../img/inner-left-bg.gif) top left no-repeat;
}
.innerwelcome {
	float: left;
	margin: 0 0 8px 38px;	
}
#innercontentleft div.shortparas {
	float: left;
	width: 271px;
	padding: 0 15px 0 38px;
}
#innercontentleft p {
	padding: 5px 0 8px 0;
	margin: 0px;
	line-height: 2em;
	color: #000;
	text-align: justify;
}
.seeus {
	float: left;
	margin: 0 0 6px 0;
}
.videothumb {
	float: left;
	padding: 9px 8px 8px 8px;
	background: url(../img/inner-welcome-videobg.jpg) top left no-repeat;
}
.san-diego {
	float: left;
	margin: 21px 0 24px 0;	
}
ul#innerform {
	float: left;
	width: 578px;
	height: 128px;
	padding: 17px 0 0 0;
	margin: 0 0 11px 0;	
	background: url("../img/innerform-bg.gif") no-repeat scroll -24px 0 transparent;
	list-style-type: none;
}
ul#innerform li {
	width: 352px;
	height: 22px;
	float: left;
	padding: 0 0 0 10px;
	margin: 0 0 8px 0;
	color: #603f1b;
	font-weight: bold;
	background: url(../img/inner-text-field.gif) top right no-repeat;
}
ul#innerform li.inner-comments{
	height: 55px;
	background: url(../img/inner-text-area.gif) top right no-repeat;
}
ul#innerform li label{
	float: left;
	width: 83px;
}

ul#innerform li input.inner-textfield, ul#innerform li textarea {
	float: left;
	width: 255px;
	border: none;
	background: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #603f1b;
	padding: 3px 5px 0 5px;
}
ul#innerform li textarea {
	height: 48px;
}
ul#innerform li.inner-submit {
	width: 152px;
	height: 32px;
	float: left;
	padding: 20px 0 0 33px;
	margin: 0px;
	background: none;
}
.innercontentleft-bot {
	float: left;
	width: 620px;
	height: 20px;
	background: url(../img/inner-left-bg-bot.gif) bottom left no-repeat;
}
#innercontentright {
	float: right;
	width: 305px;
	padding: 0 20px 0 0;	
}
#useful {
	float: left;
	width: 270px;
	padding: 0 18px 0 17px;
	background:url(../img/useful-bg.jpg) top left no-repeat;
}
.hduseful {
	float: left;
	margin: 35px 0 10px 6px;	
}
#useful ul {
	float: left;
	width: 270px;
	padding: 8px 0 12px 0;
	margin: 0px;
	background: url(../img/useful-links-bg.gif) bottom left no-repeat;
	list-style-type: none;
	line-height: 24px;
	color: #603f1b;
}
#useful ul li{
	float: left;
	width: 106px;
	padding: 0 0 0 24px;
	margin: 0px;
	display: inline;
	background: url(../img/useful-links-bul.gif) top left no-repeat;
}
#useful ul li a, #useful ul li a:link, #useful ul li a:active, #useful ul li a:visited {
	color: #603f1b;
	text-decoration: underline;
}
#useful ul li a:hover {
	color: #747b1b;
	text-decoration: underline
}
.subscribe {
	float: left;
	margin: 7px 0 8px 0;	
}
#useful span.subsribefield {
	float: left;
	width: 159px;
	height: 24px;
	display: block;
	padding: 0 7px 0 9px;
	background: url(../img/rightsubmit-bg.gif) top left no-repeat;
}
.submit-little {
	float: left;
	margin: 1px 0 0 0;	
}
#useful input.submit-field {
	float: left;
	width: 143px;
	padding: 4px 8px 0 8px;
	border: none;
	background: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #7e7e7e;
	font-style: italic;
}
.findus {
	float: left;
	margin: 13px 0 5px 0;	
}
div.usefulbot {
	float: left;
	margin-bottom: 30px;
	width: 287px;
	height: 40px;
	display: block;
	background: url(../img/useful-bot.gif) top left no-repeat;
}
.livechat {
	float: left;
	margin: 11px 0 13px 17px;	
}
#partners {
	float: left;
	width: 270px;
	height: 120px;
	padding: 0 0 0 17px;	
	background: url(../img/partner-bg.gif) top left no-repeat;
}
#partners img {
	float: left;
}
#partners img.hdpartner {
	margin: 0 0 5px 0;
}
#partners img.partnernav {
	float: right;
}
#partners img.partnerlogo1 {
	margin: 25px 0 0 9px;
	clear: left;
}
#partners img.partnerlogo2 {
	margin: 34px 0 0 19px;
}
#flashMessage {
	clear: none;
	float: left;
	padding: 15px 21px 0px 84px;
	width: 545px;
}
/***** CONTENT STYLES *****/
#content ul { float: left; }
#content ul li { line-height: 24px; }
#content table tr { line-height: 24px; vertical-align: top; }
.sprite { background: url(../img/sprite.png) no-repeat top left; }
a.social-sprite { background: url(../img/sprite.png) no-repeat top left; float: left; margin: 10px 0 0 10px; }
a.sprite-facebook-icon{ background-position: 0 0; width: 60px; height: 60px; } 
a.sprite-twitter-icon{ background-position: 0 -216px; width: 60px; height: 60px; } 
a.sprite-yelp-icon{ background-position: 0 -326px; width: 60px; height: 60px; } 
.sprite-testi-sidebar-bottom{ background-position: 0 -110px; width: 266px; height: 3px; } 
.sprite-testi-sidebar-top{ background-position: 0 -163px; width: 266px; height: 3px; } 
body.home #you-tube-video-cont {
	display: none;
}
div.testimonials div.item { margin-bottom: 20px; }
div.testimonials div.item p span {
	clear: both;
	display: block;
	font-weight: bold;
	text-align: center;
}
#innercontentleft ul { float: none; }
#innercontentleft {
	color: #000;
	line-height: 24px;
	text-align: justify;
}
#innercontentleft h2, #innercontentleft h3 {
	color: #000;
	text-align: left;
	line-height: normal;
}

div.foot-content {
	padding: 0px 0 50px 29px;
	color: #6E6E6E;
	float: left;
}

div.foot-content h1 {
	background: url("../img/heart-brown-trans.gif") no-repeat scroll left top transparent;
    color: #694722;
    font-family: "Franklin Gothic Medium",Arial,sans-serif;
    font-size: 18.5px;
    font-weight: normal;
    height: 25px;
    padding: 1px 0 0 19px;
    text-transform: uppercase;
}

div.foot-content ul.locations-menu {
	list-style: none;
	padding: 0 0 0 0;
	margin-top: 0;
	float: left;
}

div.foot-content ul.locations-menu li {
	float: left;
	width: 200px;
	line-height: 24px;
}

#call-us {
	color: #603F1B;
    float: right;
    font-family: "Myriad Pro","Gill Sans","Gill Sans MT",Calibri,sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    margin: 36px 10px 0 400px;
    text-align: right;
    text-transform: uppercase;
    width: 240px;
}

#call-us p {
	margin-bottom: 0;
    margin-top: 0;
}

#call-us p span { font-size: 1.5em; }
#call-us .tele {
	float: left;
	border: none;
}

div.heading-image {
	display: inline-block;
    float: right;
	/* margin-top: 10px; */
}

body.locations.info #innercontentleft div.inline-image {
	margin: 3px 10px 10px 0;
	display: inline-block;
}

body.locations.info #innercontentleft .left {
	float: left;
}

ul.no-style {
	list-style: none;
	color: #694722;
	font-weight: bold;
	display: inline-block;
    padding-left: 0;
    width: 410px;
}

ul.no-style strong {
	display: inline-block;
    width: 140px;
	color: #000;
	font-weight: normal;
}

div.quick-facts h3 span {
	color: #25408E;
    display: block;
    text-transform: capitalize;
}

div.quick-facts h3 {
	display: inline-block;
    margin-top: 0;
    width: 222px;
}

div.quick-facts {
	/*margin: 100px 0 0 120px;*/
	display: inline-block;
    float: right;
	margin-right: 10px;
	width: 222px;
}

ul.breadcrumb {
	list-style: none outside none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

ul.breadcrumb li {
	float: left;
    margin-right: 5px;
}
