<div class="accordion-menu" id="content-menu">
	<!-- <ul class="nav nav-list">
		<li class="nav-header">Content</li>
		<li><?php $this->linkTo('<i class="icon-book"></i>Pages', $this->admin_pages_url()); ?></li>
		<li><?php $this->linkTo('<i class="icon-file"></i>Posts', $this->admin_posts_url()); ?></li>
		<li><?php $this->linkTo('<i class="icon-file"></i>Categories', $this->admin_categories_url()); ?></li>
	</ul>
	<ul class="nav nav-list">
		<li class="nav-header">System</li>
		<li><?php $this->linkTo('<i class="icon-cog"></i>Configuration', $this->admin_configs_url()); ?></li>
	</ul> -->
	<!-- <div class="accordion-group">
		<div class="accordion-heading">
			<?php $this->linkTo('<i class="icon-book"></i> Pages', $this->admin_pages_url(), array( 'class' => 'btn btn-head' )); ?>
			<button class="btn pull-right" data-toggle="collapse" data-target="#posts-menu"><span class="caret"></span></button>
		</div>
		<div id="posts-menu" class="accordion-body collapse in">
				CONTENT
		</div>
	</div> -->
	<ul class="nav nav-accordion">
		<li>
			<div class="btn-group accordion-heading">
				<?php $this->linkTo('<i class="icon-file"></i> Posts', $this->admin_posts_url(), array( 'class' => 'btn btn-head' )); ?>
				<button class="btn" data-toggle="collapse" data-target="#posts-menu"><span class="caret"></span></button>
			</div>
			<ul id="posts-menu" class="collapse in nav nav-list">
				<li><?php $this->linkTo('New', $this->new_admin_post_path()); ?></li>
				<li><?php $this->linkTo('Posts', $this->admin_posts_url()); ?></li>
				<li><?php $this->linkTo('<i class="icon-tags"></i> Categories', $this->admin_categories_url()); ?></li>
			</ul>
		</li>
		<li>
			<div class="btn-group accordion-heading">
				<?php $this->linkTo('<i class="icon-book"></i> Pages', $this->admin_pages_url(), array( 'class' => 'btn btn-head' )); ?>
				<button class="btn" data-toggle="collapse" data-target="#pages-menu"><span class="caret"></span></button>
			</div>
			<ul id="pages-menu" class="collapse in nav nav-list">
				<li><?php $this->linkTo('New', $this->new_admin_page_path()); ?></li>
				<li><?php $this->linkTo('Pages', $this->admin_pages_url()); ?></li>
			</ul>
		</li>
	</ul>
</div>

